spring:
  application:
    name: greenride
  datasource:
    url: jdbc:h2:file:./LOCAL_DATA/h2/greenride;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE
    username: sa
    password: changeme
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

app:
  jwt:
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_32+_CHARS_1234567890"
    issuer: "greenride"
    audience: "greenride-api"
    ttl-minutes: 120

weather:
  base-url: "https://api.openweathermap.org/data/2.5"
  api-key: "a3771c561d0e6c0f4b6ce471eeda6872"
  units: "metric"
  lang: "el"

